[submodule "nvim"]
	path = nvim
	url = https://github.com/cdddg/kickstart-modular.nvim.git
	branch = fork
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "kitty/k0nserv-icon"]
	path = kitty/k0nserv-icon
	url = https://github.com/k0nserv/kitty-icon.git
[submodule "kitty/catppuccin-theme"]
	path = kitty/catppuccin-theme
	url = https://github.com/catppuccin/kitty
